.sidebar {
    height: 100%;
    width: 250px;
    background: #f5f7f9;

    &__item {
        .accordion-button {
            padding: 5px;
        }
    }

    &__car-image {
        border-radius: 100%;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        height: 55px;
        overflow: hidden;
        width: 55px;

        &--img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
}
