// Bootstrap custom
$font-family-sans-serif: 'Open Sans', sans-serif;
$black: #32325d;

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  min-width: 700px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  position: relative;
  padding-bottom: 30px;
}
